<footer>
    <div class="box-left">
        <div class="logo">Paw Care</div>
        <div class="list">
            <div class="about-us">About Us</div>
            <div class="find-pets">Find Pets</div>
            <div class="support">Support</div>
            <div class="blog">Blog</div>
        </div>
    </div>
    <div class="box-right">
        <div class="heading"><h2>Subscribe to our newsletter</h2></div>
        <div class="para"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quisquam ipsa aliquam amet mollitia? Labore, aspernatur! Minus incidunt magnam nam, suscipit ratione cum. Incidunt veritatis reiciendis repudiandae sit consequuntur iusto.</p></div>
        <form action="">
            <div class="email-input">
                <input type="email">
            </div>
            <br>
            <div class="subscribe">
                <button>Subscribe</button>
            </div>
        </form>
    </div>
</footer>