<nav>
    <div class="nav-container">
        <div class="logo"><a href="/">Paw Care</a></div>
        <div class="list">
            <div class="about-us">About Us</div>
            <div class="find-pets">Find Pets</div>
            <div class="support">Support</div>
            <div class="pet-supply"><a href="/pet_supply">Pet Supply</a></div>
        </div>
        <div class="login-signup">Login/ Sign-Up</div>
    </div>
</nav>