<nav>
    <div class="nav-container">
        <div class="logo"><a href="/">PawCare</a></div>
        <div class="list">
            <div class="about-us">About Us</div>
            <div class="find-pets">Find Pets</div>
            <div class="support">Support</div>
            <div class="pet-supply"><a href="/pet_supply">Pet Supply</a></div>
        </div>
        <div class="log-up">
            <div class="login">Login</div>
            <div class="Sign-Up">Sign-Up</div>
        </div>
    </div>
</nav>