@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans');

nav{
    display: grid;
    grid-template-columns: 1fr;
    height: 100px;
    width: 100vw;
    background-color: white;
    font-family: 'Nunito Sans', sans-serif;
}

.nav-container{
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.logo a {
    text-decoration-style: none;
    color: #2356A9;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 49px;
}

.pet-supply a{
    color: #212529;
}

a:hover{
    text-decoration: none;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    font-weight: 700;
}

.list div{
    width: 120px;
}

.log-up{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #2356A9;
    font-weight: 700;
}
