<% layout('../layouts/base') %>
<main>
    <div class="mycontainer">
        <div class="container-one">
            <div class="inner-container">
                <div class="des-box-left">
                    <h1>Adopting a pet has never been easier</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quidem voluptate nihil optio ipsa quia cumque beatae, minima amet aperiam quo fuga! Eum, laboriosam perspiciatis. Deleniti, libero? Dolores corporis assumenda aspernatur commodi sit eum temporibus ducimus similique quibusdam labore, exercitationem soluta praesentium! Sit, dolores dolore? Culpa deleniti possimus repellendus iste!</p>
                    <div class="buttons">
                        <button>Find Pets</button>
                        <button>Sign-up</button>
                    </div>
                </div>
                <div class="img-box-right">
                    <img 
                    src="https://plus.unsplash.com/premium_photo-1663127442778-3b635cc838d3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" 
    
                    alt=""
                    
                    height="500px"
                    width="500px" 
                    >
                </div>
            </div>
        </div>

        <div class="container-two">
            <div class="main-container">
                <div class="title">
                    <h2>Why You Should Adopt</h2>
                </div>
                <div class="cards-container">
                    <div class="card card-one">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum, asperiores reiciendis eligendi veniam ducimus fugiat reprehenderit rerum, expedita aliquid sit, ea dolores. Quasi expedita eligendi molestiae soluta veritatis deleniti! Harum!</p>
                    </div>
                    <div class="card card-two">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis est minima odit, alias doloremque voluptates magni a quisquam expedita culpa illum necessitatibus assumenda veniam voluptatibus corrupti eum ipsa quaerat sed!</p>
                    </div>
                    <div class="card card-three">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, ab dolores libero aspernatur dolorem possimus numquam expedita labore delectus natus harum laborum impedit quae deleniti corrupti inventore amet, commodi enim?  </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-three">
            <div class="title">
                <h2>New Members</h2>
            </div>
            <div class="caurousel">
                <!-- <ul>
                    <li>                
                        <div class="item">Box-1</div>
                        <div class="item">Box-1</div>
                        <div class="item">Box-1</div>
                        <div class="item">Box-1</div>
                        <div class="item">Box-1</div>
                        <div class="item">Box-1</div>
                        <div class="item">Box-1</div>
                        <div class="item">Box-1</div>
                    </li>
                </ul> -->
            </div>
        </div>

        <div class="container-four">
            <div class="title">
                <h2>Categories</h2>
            </div>
            <div class="categories">
                <div class="dogs">Dogs</div>
                <div class="cats">Cats</div>
                <div class="cows">Cows</div>
            </div>
        </div>

        <div class="container-five">
            <div class="img-container">
                <img src="https://images.unsplash.com/photo-1626648701445-1f67aeb6e49c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" 
                alt=""
                height="400px"
                width="500px">
            </div>
            <div class="des-box">
                <h1>Help Caseper find a home</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam unde harum sunt facilis enim! Vero laborum ipsum reprehenderit ipsa cum porro atque ut numquam sequi nobis culpa quae, minus esse.</p>
                <div class="buttons">
                    <button>Adopt Now</button>
                </div>
            </div>
        </div>

        <div class="container-six">
            <div class="des-box">
                <h2>What they say about pet care</h2>
                
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem sit facilis facere hic esse dignissimos distinctio suscipit porro fugit, iste dolore impedit molestias unde qui nam, maiores quos eligendi id.</p>

                <a href="">view all testimonials</a>
            </div>
            <div class="cards">
                <div class="inner-cards simran">
                    <div class="sample-cards img-container">
                        <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" height="100" width="100" alt="">
                    </div>
                    <div class="sample-cards name">Simran</div>
                    <div class="sample-cards description">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima voluptas doloribus voluptatem eaque officiis alias facilis laborum nostrum placeat maiores facere suscipit quasi incidunt, ipsum, sed excepturi ab. Reprehenderit, veniam.</p>
                    </div>
                </div>
                <div class="inner-cards tirthangkar">
                    <div class="sample-cards img-container">
                        <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" height="100" width="100" alt="">
                    </div>
                    <div class="sample-cards name">Tirthangkar</div>
                    <div class="sample-cards description">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima voluptas doloribus voluptatem eaque officiis alias facilis laborum nostrum placeat maiores facere suscipit quasi incidunt, ipsum, sed excepturi ab. Reprehenderit, veniam.</p>
                    </div>
                </div>
                <div class="inner-cards saksham">
                    <div class="sample-cards img-container">
                        <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" height="100" width="100" alt="">
                    </div>
                    <div class="sample-cards name">Saksham</div>
                    <div class="sample-cards description">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima voluptas doloribus voluptatem eaque officiis alias facilis laborum nostrum placeat maiores facere suscipit quasi incidunt, ipsum, sed excepturi ab. Reprehenderit, veniam.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>