<% layout('../layouts/base') %>
<main>
    <form action="">
        <div class="my_pet_container">
            <div class="inner_container">
                <div class="title"><h1>My Pet</h1></div><br>
                <input type="text" placeholder="Full Name"><br>
                <input type="number" placeholder="Contact Number"><br>
                <input type="email" placeholder="email"><br>
                <input type="text" placeholder="I want to give up my pet because ...">
            </div>
        </div>
    </form>
</main>