<% layout('../layouts/base') %>
<main>
    <div class="container">
        <div class="img-box-left">
            <img src="https://images.unsplash.com/photo-1452441271666-5d998aa2f6cc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" 
            alt=""
            height="500"
            width="500">
        </div>
        <div class="des-box-right">
            <h2>Meet Crypto (Gull Terier Puppy)</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi eum esse sapiente incidunt, aliquid distinctio excepturi tenetur sint sunt quibusdam optio totam corporis aliquam cum voluptatum perferendis ab dignissimos neque accusantium provident repellendus consectetur? Pariatur, natus facere tempore blanditiis quia, nulla quisquam dolorem quidem impedit ducimus voluptate atque voluptates excepturi?</p>
            <div class="links">
                <a href="">Rajpura, Punjab</a>
                <a href="">2 Months</a>
                <a href="">Fully Vaccinated</a>
            </div>
            <div>
                <button>Adopt Now</button>
            </div>
        </div>
    </div>
</main>