<% layout('../layouts/base') %>
<main>
    <form action="">
        <div class="container">
            <div class="title"><h1>My Pet</h1></div>
            <input type="text" placeholder="Full Name">
            <input type="number" placeholder="Contact Number">
            <input type="email" placeholder="email">
            <input type="text" placeholder="I want to give up my pet because ...">
        </div>
    </form>
</main>